<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tab5</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="margin: 10rem 1rem 1rem 1rem;">
    <div style="display:flex;margin-bottom: 0.5rem;">
      <ion-avatar slot="start">
        <img src="{{resourceUrl}}/{{imgPath}}">
      </ion-avatar>
      <p style="margin-left: 1rem;">今天是你加入得言的第{{date}}天</p>
      </div>
      <ion-searchbar (ionFocus)="toQuestionPage()" style="margin-bottom: 0.5rem;" placeholder="提个问题">
      </ion-searchbar>
   
    <div style="display:flex;margin-top: 1rem;">
      <ion-tab-button (click)="toAllQuestionPage()">
        <ion-icon name="list-box"></ion-icon>
        <ion-label>回答问题</ion-label>
      </ion-tab-button>
      <!-- <ion-tab-button>
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>写文章</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="create"></ion-icon>
        <ion-label>写想法</ion-label>
      </ion-tab-button> -->
    </div>
  </div>
</ion-content>