<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title style="background: #f4f5f8;">设置地区</ion-title>
      <ion-button slot="end" [disabled]="disabledClick" style="position: absolute;right: 0rem;height: 2rem;"
      color="success" (click)="updatePosition()">完成</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-item style="--border-width:0">
      <ion-input [(ngModel)]="position"></ion-input>
  </ion-item>
</ion-content>